html,body {
    height: 100%;
    width: 100%;
}

.container {
    /* border: 1px solid red; */

    display: flex;
}

.dir-column {
    flex-direction: column;
    border: 1px solid red;
}

.auto-right {
    margin-right: auto;
}


ul.container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}


.placeholder {
    background-color: gray;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    /* border: 1px solid green; */
    background-color: #1F2937;
    color: white;   

    height: 20%;
    padding: 0 10%;
}

.space-between {
    justify-content: space-between;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    font-size: 36px;
    font-weight:extra-bold;
    background-color: #3882F6;
}
