ul {
    list-style-type: none;
    border: 1px solid red;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.header {
    padding: 10px 0px;
    background-color: #1F2937;
    display: flex;
    border: 1px solid black;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;

}
.secondary-text {
    margin-bottom: 10px 0px;
    font-size: 18px;
    color: #E5E7EB;
}
.header-left {
    width: 100px;
}
.header-right {
    width: 100px;
}
.header-content {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-text {
    margin-bottom: 10px;
}
.header-top {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.header-middle>* {
    flex: 1;
}
.header-middle {
    display: flex;
    justify-content: space-between;
}

.wrap {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.placeholder {
    background-color: gray;
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}
.placeholder>* {
    border: 1px solid blue;
    font-size: 18px;
    color: #E5E7EB;
}

.content-1 {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grid {
    display: flex;
    gap: 10px;
}
.grid-item {
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-item-text {
    max-width: 100px;
    text-align: center;
}
.content-1-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}
.square {
    height: 100px;
    width: 100px;
    border: 1px solid blue;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-author {
    display: flex;
}